#searchbar{
	margin-left: 15%;
	margin-top: 200px;
	padding:15px;
	border-radius: 10px;
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 100% */
input[type=text]:focus {
	width: 70%;
}

#list{
	font-size: 1.5em;
	margin-left: 35%;
}

.animals{
display: list-item;	
}
.xo {
    border:  5px  double yellowgreen ;
font-size: 48px;
width: 400px;
height: 500px;
outline: none;
background: rgb(207, 207, 207);

}


